body {
    background: url('../public/Rebanadapizza.jpg');
    background-size: cover;
    margin: 0;
}

.nav {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.imagenNF {
    text-align: center;
}

.imagenNF img {
    width: 50%;
    margin-top: 20px;
}

.banner {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.603);
    background-position: cover;
    padding: 30px;
    color: rgb(255, 255, 255);
}